body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: #45c5ba;
}

.main {
    width: 85%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 5.5px;
    padding-right: 5.5px;
    border-radius: 10px;
}

.main-wrapper {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 880px;
    position: relative;
    background-color: aliceblue;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 10px #2e857d;
    -moz-box-shadow: 0 0 10px #2e857d;
    box-shadow: 0 0 10px #2e857d;
}

.button-center {
    margin: 0;
    position: absolute;
    top: 89%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
